:root{
    --background--color:#fff;
    --background--hover:#5E8BF2;
    --text--color: #1B43BA;
    --text--heading:#5046E5;

    --color--1:#A7C1EE;
    --color--2:#FFFFFD;
    --color--3:#e1ecf9;
    --color--4:#5E8BF2;
    --color--5:#1B43BA;

}
body{
    background: var(--color--3);
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    position: sticky;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--background--hover);
    color: white;
}
.logo__navbar{
    font-weight: 400px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.search__input input{
    border: none;
    background: none;
    width: 400px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 10px 15px;
    color: gainsboro;
}
.search__icon img{
    width: 60px;
    height: auto;
}
.avt{
    cursor: pointer;
}
.avt__img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-image: linear-gradient( to right, #0d6efd,#ffffff );
}
.avt__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.circle{
    content: "";
    position: relative;
    z-index: 1;
    width: 9px;
    height: 9px;
    background-color: greenyellow;
    right: -30px;
    top: -10px;
    border-radius: 50%;
    border: 3px solid var(--color--primary);
}
.circle::after{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    animation: ripple 1.2s infinite ease-in-out;
    border: 1px solid greenyellow;
    transition: 0.2s linear;
}
@keyframes ripple {
    0% {
        transform: scale(.8);
        opacity: 1;
    };
    100% {
        transform: scale(2.4);
        opacity: 0;
    };
}
.sidebar{
    position: fixed;
    z-index: 9;
}
.sidebar__box{
    background: var(--color--2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background:var();
    width: 300px;
    height: 100vh;
    position: relative;
    transition: 0.2s linear;
}

.hamburger{
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: white;
    border: 2px solid var(--color--5);
    background: var(--color--5);
    padding: 9px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.hamburger span{
    display: block;
    background-color: var(--color--2);
    border-radius: 15px;
    height: 3px;
    width: 20px;
    transition: 0.4s;
}

.hamburger:hover span{
    margin:  auto;
    background: var(--color--3);
}

.hamburger-in:hover span:nth-child(1){
    width: 20px;
    transform: translate(-3px,10px) rotate(30deg);
}
.hamburger-in:hover span:nth-child(2){
    display: none;
}
.hamburger-in:hover span:nth-child(3){
    width: 20px;
    transform: translate(-3px,-10px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(1){
    width: 20px;
    transform: translate(0px,10px) rotate(-30deg);
}
.hamburger-out:hover span:nth-child(2){
    display: none;
}
.hamburger-out:hover span:nth-child(3){
    width: 20px;
    transform: translate(0px,-10px) rotate(30deg);
}

.sidebar__box--NX{
    width: 85px;
    background: var(--color--2);

}

.menu-item{
    height: 57px;
    width: 16em;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto 20px;
    border-radius: 10px;
    position: relative;
    transition: 0.2s linear;
    color: rgb(45, 45, 45);
    font-weight: 500;
    cursor: pointer;
}
.menu-item:hover::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    right: 0;
    top: 0;
    background: var(--color--5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.menu-item:hover{
    color: var(--color--2);
    background-color: var(--color--4);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menu-search{
    background: var(--color--1);
    justify-content: center;
}
.menu-search input{
    width: 65%;
    height: 75%;
    border: none;
    font-size: 18px;
    border-radius: 8px;
}
.nav__search{
    border: none;
    background: none;
    
    cursor: pointer;
    /* background: red; */
    transition: 0.2s linear;
}
.nav__search svg{
    padding: 0 !important;
}
.nav__search:hover{
    color: white;
}

.nav__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__icon svg{
    width: auto;
    height: 25px;
    padding: 0 20px;
}
.nav__menu{
    grid-template-rows: repeat(8, 1fr);
    padding-top: 45px;
    display: grid;
    gap: 10px;
}
.menu-item-NX{
    margin: auto;
    width: 4.5em;
}
.menu-item:hover > .tooltip{
    display: block;
    transition: 0.2s linear;
}
.tooltip{
    display: none;
    position: absolute;
    text-transform: capitalize;
    left: 99%;
    bottom: 80%;
    width: auto;
    padding: 8px 16px;
    border-radius: 15px 15px 15px 0;
    white-space: nowrap;
    border: 2px solid var(--color--3);
    background-color: white;
    transition: 0.2s linear;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: var(--color--5);
}
.nav-footer{
    border-top: 1px solid gainsboro;
    padding-top: 10px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: var();
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-details img{
    width: auto;
    height: 30px;
    padding: 0 20px;
}
.nav-footer-username{
    font-size: 18px;
    font-weight: 900;
}
.nav-footer-user-position{
    color: gray;
}
.logout-img img{
    width: auto;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-img{
    padding: 10px;
    border-radius: 100%;
    transition: 0.2s linear;
}
.logout-img:hover{
    cursor: pointer;
    background-color: #cdcaff;
}
.nav-footer-info{
    display: flex;
    flex-direction: column;
}
.container{
    padding-left: 85px;
}

.content{
    border-top: 1px solid gainsboro;
    margin: 30px;
    background: var(--color--2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/* slide */
.checkbox svg{
    width: auto;
    height: 20px;
}
.table table{
    width: 100%;
}
.table table tr:hover{
    transition: 0.2s linear;
}
.table table tr:hover{
    background: var(--color--3);
    border-radius: 20px;
}
.text-align{
    text-align: center;
    padding: 10px 0;
}
.table-items{
    transition: 0.2s linear;
    cursor: pointer;
}

.table-items:hover{
    background: var(--color--3);
    border-radius: 20px;
}
.table tr th{
    padding-bottom: 10px;
}
.table-active{
    display: flex;
    align-items: center;
    gap: 15px;
}
.table-active a svg{
    width: auto;
    height: 25px;
}

.table-active button svg{
    width: auto;
    height: 25px;
}
.table-active button{
    border: none;
    background: none;
    cursor: pointer;
}
.table-image{
    width: 60%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}
.from-add{
    border-top: 1px solid var(--color--1);
    padding: 10px 0;
}
.table{
    padding-bottom: 20px;
}
.image__container{
    /* w-1/2  flex items-center drop-shadow-2xl */
    max-width: 80%;
    padding-top: 30px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}
.image__box{
    /* flex justify-center items-center w-full  */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 840px;
    height: 280px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 5px dashed var(--color--5);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.lable__image{
    /* flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer  hover:bg-gray-100  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: var(--color--3);
    transition: 0.2s linear;
    padding: 15px 0;
    border-radius: 20px;

}
.lable__image:hover{
    background: var(--color--1);
}
.icon__clound svg{
    width: auto;
    height: 40px;
    color: var(--color--5);
}
.upload__image{
    /* flex flex-col justify-center items-center pt-5 pb-6 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.upload__image--success{
    /* w-1/2 object-cover */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image__upload--success{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image__btn--delete{
    /* absolute bottom-3 right-1/2 p-3 rounded-full bg-red-500 text-xl
    cursor-pointer outline-none hover:shadow-md duration-500 transition-all ease-in-out */
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: red;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 25px;
    color: white;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.image__btn--delete:hover{
    background: rgb(144, 7, 7);
}
.btn__submit{
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* text-transform: uppercase; */
    background: var(--color--5);
    color: white;
    border: 2px solid var(--color--5);
    margin: 25px auto;
    transition: 0.2s ease-in-out;
}
.btn__submit:hover{
    color: var(--color--5);
    background: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}